<form class="form-horizontal" name="eventForm" ng-controller="NewEventController as newEventCtrl">

	<div id="createbox" style="margin-top: 25px;" class="mainbox col-md-7 col-sm-10">
<!-- Event Form -->
	<h1>Create EVENT</h1>
	
	<!--  Live Preview -->
    <div class="form-group" ng-class="{'has-error': eventForm.event.$invalid && !eventForm.event.$pristine, 'has-success': !eventForm.event.$invalid}">
        <label for="event" class="col-sm-3 control-label">Event Title 
        </label>
        <div class="col-sm-9">
            <input id="event" class="form-control" name="event" type="text" aria-label="required Name of event" placeholder="Your event's title" autofocus ng-model="event.title" required>

            <span class="help-block" ng-show="eventForm.event.$error.required && !eventForm.event.$pristine">Please enter name or title for the event</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': eventForm.type.$invalid && !eventForm.type.$pristine, 'has-success': !eventForm.type.$invalid}">
        <label for="type" class="col-sm-3 control-label">Event TYPE 
        </label>
        <div class="col-sm-9">
            <input id="type" name="type" list="types" class="form-control" aria-label="required Type of event" ng-model="event.type" placeholder="Select One"required>
            <span class="help-block" ng-show="eventForm.type.$error.required && !eventForm.type.$pristine">Please enter Event type</span>
        </div>
    </div>
    <datalist id="types">
    	<option value="Party" />
        <option value="Birthday Party" />
        <option value="Baby Shower" />
        <option value="Wedding" />
        <option value="Anniversary" />
        <option value="Sport Event" />
        <option value="BBQ" />
        <option value="Meeting" />
        <option value="Movie" />
        <option value="Seminar" />
		<option value="Show" />
        <option value="Dinner" />
        <option value="Ceremony" />
    </datalist>

    <div class="form-group" ng-class="{'has-error': eventForm.host.$invalid && !eventForm.host.$pristine, 'has-success': !eventForm.host.$invalid}">
        <label for="host" class="col-sm-3 control-label">Event Host Name 
        </label>
        <div class="col-sm-9">
            <input id="host" name="host" type="text" placeholder="Your name or your company's name" class="form-control" autocomplete="name" ng-model="event.host" required>
            <span class="help-block" ng-show="eventForm.host.$error.required && !eventForm.host.$pristine">Please enter Host name</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': eventForm.location.$invalid && !eventForm.location.$pristine, 'has-success': !eventForm.location.$invalid}">
        <label for="location" class="col-sm-3 control-label">Where 
        </label>
        <div class="col-sm-9">
            <input id="location" name="location" type="text" class="form-control" aria-label="required Enter the location of event" placeholder="Location" ng-model="event.location" required>
            <span class="help-block" ng-show="eventForm.location.$error.required && !eventForm.location.$pristine">Please enter location of the event</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': eventForm.start.$invalid && !eventForm.start.$pristine, 'has-success': !eventForm.start.$invalid}">
        <label for="start" class="col-sm-3 control-label">When (start) 
        </label>
        <div class="col-sm-9">
            <input id="start" name="start" type="datetime-local" class="form-control" aria-label="required Event date and time" placeholder="Enter date and time" ng-model="event.evstart" required>
            <span class="help-block" ng-show="eventForm.start.$error.required && !eventForm.start.$pristine">Please enter the event date and time</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': (eventForm.end.$invalid ||!validTime()) && !eventForm.end.$pristine, 'has-success': !eventForm.end.$invalid && validTime()}">
        <label for="end" class="col-sm-3 control-label">When (end) 
        </label>
        <div class="col-sm-9">
            <input id="end" name="end" type="datetime-local" class="form-control" placeholder="Enter date and time" ng-model="event.evend" required>
            <span class="help-block" ng-show="eventForm.end.$error.required && !eventForm.end.$pristine">Please enter the end time</span>
            <span class="help-block" ng-show="!validTime()">End time should be later than start time!</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': eventForm.guest.$invalid && !eventForm.guest.$pristine, 'has-success': !eventForm.guest.$invalid}">
        <label for="guest" class="col-sm-3 control-label">Guest List 
        </label>
        <div class="col-sm-9">
            <textarea id="guest" name="guest" type="textarea" class="form-control" ng-model="event.guest" placeholder="Type in your guest list" required></textarea>
            <span class="help-block" ng-show="eventForm.guest.$error.required && !eventForm.guest.$pristine">Who's envited?</span>
        </div>
    </div>

<div class="form-group" ng-class="{'has-error': eventForm.contact.$dirty && eventForm.contact.$invalid, 'has-success': eventForm.contact.$touched && eventForm.contact.$valid || eventForm.contact.$empty}">
        <label for="contact" class="col-sm-4 control-label">Contact email - Optional
        </label>
        <div class="col-sm-8">
            <input id="contact" name="contact" type="email" class="form-control" ng-model="event.contact" placeholder="Type in your contact email" autocomplete="email" minlength="6" ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/">
			<div ng-messages="eventForm.contact.$error"> 
                <div ng-message='email'> The Email entered must be a valid email address</div>
                <div ng-message='minlength'> The Email entered must be at least 6 characters long</div>
                <div ng-message="pattern">Must be a valid email</div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="message" class="col-sm-4 control-label">Message - Optional
        </label>
        <div class="col-sm-8">
            <textarea id="message" class="form-control" placeholder="Event info" ng-model="event.message"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
            <button class="btn btn-primary" ng-disabled="eventForm.$invalid" ng-click="addEvent(event)">Create Event</button>
            <a href="#">
                <button class="btn btn-secondary">Cancel</button>
            </a>
        </div>
    </div>

</div>
<div id="viewbox" style="margin-top: 25px;" class="mainbox col-md-5 col-sm-2">
<!--  Live Preview -->
 	<blockquote>
		<h2>Preview of EVENT</h2>
	
	<div class="event-box">
		<div class="event-content">
			<div class="event-title">
				<div class="figure fontawesome-check"></div>
			 	<div class="event-header">
					<h3>{{event.title}}</h3>
				</div>
			</div>
			<div class="event-body">
				<div class="event-host"><strong>Event Host: </strong>{{event.host}}</div>
				<div class="event-type"><strong>Event Type: </strong>{{event.type}}</div>
				<div class="event-time">
					<div class="figure entypo-clock"></div>
					<div class="event-start">
						<time>
							<h4>{{event.evstart | date: "fullDate"}}</h4>
							<p>{{event.evstart | date:"h:mm a"}} - {{event.evend | date:"h:mm a"}}</p>
						</time>
					</div>
				</div>
				<div class="event-address">
					<div>
					<div class="figure entypo-location" style="font-size: 18px;"></div> 
					<div class="address-header">{{event.location}}</div>
					</div>
					<a style="padding-left: 32px;" ng-href="http://maps.google.com/" target="_blank">Go to Google Maps</a>
				</div>
				<div class="event-guests">
					<div class="entypo-users guest-header"><strong>Guests: </strong></div>
					<div class="guest-list">{{event.guest}}</div>
				</div>
				<div class="event-info" style="padding-top: 15px;" ng-show="event.message || event.contact">
					<div class="figure fontawesome-comments-alt"></div>
					<div class="event-messg">{{event.message}}
					</div>
					<div class="zocial-email info-contact">Contact email: {{event.contact}}</div>
				</div>
			</div>
		</div>
	</div>
	</blockquote>
</div>
</form>