<div class="about">
	<h1>Discover the power of creating your own unique live events and save your time</h1>
	<h4>... get together to share and learn something new  ...</h4>
</div>
<div class="flexbox-container">
	<div class="event-box" ng-repeat="event in eventsCtrl.eventList">
		<div class="event-content">
			<div class="event-title">
				<div class="figure fa fa-check-square-o" aria-hidden="true">
				</div>
			 	<div class="event-header">
					<h3>{{event.title}}</h3>
				</div>
			</div>
			<div class="event-body">
				<div class="event-host"><strong>Event Host: </strong>{{event.host}}</div>
				<div class="event-type"><strong>Event Type: </strong>{{event.type}}</div>
				<div class="event-time">
					<!--<div class="figure entypo-clock"></div> -->
					<div class="figure fa fa-clock-o" aria-hidden="true"></div>
					<div class="event-start">
						<time>
							<h4>{{event.start | date: "EEEE, MMM d, y"}}</h4>
							<h4>{{event.start | date:"h:mm a"}}</h4>
							<p style="padding-top: 5px;">End time: {{event.end | date: "EEE, MMM d"}} at {{event.end | date:"h:mm a"}}</p>
						</time>
					</div>
				</div>
				<div class="event-address">
					<div>
					<div class="figure fa fa-map-marker" aria-hidden="true" style="font-size: 18px;"></div> 
					<div class="address-header">
						<a ng-href="http://maps.google.com/?q={{event.location}}" target="_blank">{{event.location}}</a>
					</div>
					</div>
				</div>
				<div class="event-guests">
					<div>
						<div class="figure fa fa-user-plus  "aria-hidden="true"></div>
						<div class="guest-header"><strong>Guests: </strong></div>
					</div>
					<div class="guest-list">{{event.guest}}</div>
				</div>
				<div class="event-info" style="padding-top: 15px;" ng-show="event.message || event.contact">
					<div>
						<div class="figure fa fa-comments-o" aria-hidden="true"></div>
						<div class="event-messg">{{event.message}}</div>
					</div>
					<div style="padding-top: 10px;">
						<div class="figure fa fa-envelope-o" aria-hidden="true"></div>
						<div class="info-contact">Contact email: {{event.contact}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="about landing">
	<div>
		<h1>Set up your next event</h1>
	</div>
	<div class="group">
		<div class="cell">
		<a ui-sref="create" class="dtn btn-info gs" role="button">Get started</a>
		</div>
	</div>
</div>
